@charset "utf-8";
/* general */
body {
	margin: 0;
	padding: 0;
	font: medium/1.6 Helvetica, Arial, sans-serif;
	background-color: #F8FBFB;
}

h1, h2 {
	color: #43484D;
}

a {
	color: #006BBF;
}

/* container block */
#cb {
	margin: 0 auto;
}

/* global header */
#header h1 {
	margin: 0.5em auto;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #CCC;
	text-align: center;
	letter-spacing: 0.075em;
	color: #43484D;
	font-weight: normal;
	font-size: 4em;
}

/* contents */
/* contents blocks */
#contents {
	width: 960px;
	margin: 20px auto 0;
}

.wrap-contents {
	width: 760px; /*　520px + 200px + 40px */
}

#main {
	width: 520px; /*　幅を設定 */
}

#aside-a {
	width: 200px; /*　幅を設定 */
}

#aside-b {
	width: 160px; /*　幅を設定 */
}

/* item styling */
#main img {
	display: block;
	margin-bottom: 1.5em;
}

/* global navigation */
#aside-b h2 {
	margin-bottom: 0;
	font-size: 100%;
}

#global-nav {
	list-style: none;
	margin: 1em 0 0;
	padding: 0;
	border-top: 1px solid #D9DEE3;
}

#global-nav a {
	display: block;
	padding: 0.75em;
	border-bottom: 1px solid #D9DEE3;
	text-decoration: none;
	font-size: 87.5%;
}

/* contact link */
#contact-links {
	list-style: none;
	margin: 1em 0 0;
	padding: 0;
}

#contact-links a {
	display: block;
	padding: 0.5em 0.75em;
	text-decoration: none;
	font-size: 87.5%;
}

/* global footer */
#footer {
	margin-top: 20px;
	border-top: 1px solid #ccc;
}

p#copyright {
	text-align: center;
	font-size: 75%;
}
