@charset "utf-8";
/* -----------------------------------------------------------
 reset
----------------------------------------------------------- */
html{color:#000000;background:#FFFFFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
img{vertical-align:top;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{z-index:auto;font-family:inherit;font-size:inherit;font-weight:inherit;}
/*to enable resizing for IE*/
input,textarea,select{*font-size:100%;}
/*because legend doesn't inherit in IE */
legend{color:#000;}

body {font:12px/1.231;font-family:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",Osaka,Sans-Serif;*font-size:small;*font:x-small;}
table {font-size:inherit;font:100%;}
pre,code,kbd,samp,tt {font-family:monospace;*font-size:108%;line-height:100%;}
/* -----------------------------------------------------------
 body
----------------------------------------------------------- */
body {
	background:url(../image/bg.gif) center 0 repeat-y;
	color:#333;
	text-align:center;
	line-height:1.6;
}
body {
	font-size:90%;
}
#top {
	background:url(../image/main_bg.jpg) center 0 no-repeat;
}
/*----------------------------------------------------
 link
----------------------------------------------------*/
a:link,a:visited {
	color:#333;
}
a:hover,a:active {
	text-decoration:none;
}
/* --------------------------------------------------------
 header
----------------------------------------------------------- */
#header {
	background:url(../image/main_bg.jpg) center 0 no-repeat;
	position:relative;
	height:454px;
	margin:0 auto;
	text-align:left;
	width:840px;
}
#header h1 {
	background:url(../image/logo.png) 0 0 no-repeat;
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
	position:absolute;
	top:25px;
	left:62px;
	width:361px;
	height:321px;
}
#header .navi {
	padding:370px 0 0 9px;
}
#header .navi li {
	float:left;
}

/* --------------------------------------------------------
 contents
----------------------------------------------------------- */
#contents {
	background:url(../image/bg.gif) center 0 repeat-y;
	line-height:1.7;
	margin:0 auto;
	text-align:left;
	width:840px;
}
#contents img {
	display:block;
}
#contents_box {
	padding:0 40px 0;
}
/* */
#contents h2 {
	background:url(../image/tit.gif) left center no-repeat;
	border-bottom:#2C882F 1px dotted;
	color:#2C882F;
	font-size:140%;
	margin:0 0 30px;
	padding:5px 35px;
	clear:both;
}
#contents  p {
	margin:0 0 20px;
}
#contents img.imgL {
	float:left;
	margin:0 20px 10px 0;
}
#contents img.imgR {
	float:right;
	margin:0 0 10px 20px;
}
.pagetop {
	clear:both;
	text-align:right;
}
#copy {
	background:url(../image/btm_bg.gif) center bottom no-repeat;
	padding:30px 0;
}

/* font sizer */
#controls {	
	float:right; 
}
#controls li {
	float:left;
	display:block;
	list-style-type:none;
	margin-right:5px;	
}

a#fs-minus, a#fs-plus {
	outline: 0 none;	
}

/* --------------------------------------------------------
 img style
----------------------------------------------------------- */
/* 写真の端を角丸に */
.shadow {
	box-shadow:2px 2px 6px #ccc;
}
.radius {
	border-radius:20px;
}
.radius2 {
	border-radius:50%;
}
/* 傾ける */
.rotate {
	transform:rotate(3deg);
	-webkit-transform:rotate(3deg);
}

/* -----------------------------------------------------------
 opacity
----------------------------------------------------------- */
#header .navi li img:hover {
	opacity:0.7;
}
/* -----------------------------------------------------------
 clearfix
----------------------------------------------------------- */
.clearfix:after,
#contents:after {
	content:".";
	display:block;
	height:0;
	font-size:0.1%;
	line-height:0.1;
	clear:both;
	visibility:hidden;
}
*:first-child+html .clearfix,
*:first-child+html #contents {
	min-height:1%;
}
* html .clearfix,
* html #contents {
	height:1%;
}