@import url(http://fonts.googleapis.com/css?family=Sofia);
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans);
html, body, div, span, h1, h2, h3, h4, h5, h6, p,
a, ul, li,figure, figcaption, footer, header, hgroup
{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*--------------------------------------------------
 *共通設定*
 -------------------------------------------------*/
a {
  text-decoration: none;
  color: #00bfff;
}
a:hover {
  color: #00d4ff;
  text-decoration: underline;
}

a:hover img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4em;
  color: #333;
  font-family: 'Quattrocento Sans','Helvetica Neue', Helvetica, Arial, Verdana,sans-serif;
  line-height: 1.6;
  letter-spacing: 0.1em;
}

.center {
  text-align: center;
}

.blue, .menu a:hover {
  color: #a0d8ef;
}

.small {
  font-size: .7em;
}

.dotted-line {
  background: url(../images/bg-dotted.png) repeat-x 0 100%;
  padding-bottom: 5px;
}

.sofia, .page-title, .head-title {
  font-family: 'Sofia', cursive;
}

.page-title {
  font-size: 3em;
}

.header, .footer, .wrapper, .menu {
  width: 100%;
}

.header {
  padding: 40px 20px;
  margin-bottom: 20px;
  border-top: 6px solid #a0d8ef;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.menu {
  margin: 0 auto 20px auto;
  text-align: center;
}
.menu li {
  display: inline;
  width: 6em;
  margin: 0 10px 10px 0;
  font-size: 1.3em;
}
.menu li a {
  background: url(../images/ico-tab-arrow.png) no-repeat 3px 50%;
  padding: 10px 20px 10px 24px;
  color: #333;
  text-decoration: none;
}

.footer {
  text-align: center;
  color: #FFF;
  padding: 20px 0;
  background: #333;
  clear: both;
}

.wrapper {
  padding: 20px 0;
  background: #f8f4e6;
}
.wrapper h3 {
  font-size: 2em;
  text-align: center;
  font-family: 'Quattrocento Sans', sans-serif;
}
.wrapper h4 {
  font-size: 1.2em;
  padding: 0;
  font-weight: bold;
}
.wrapper p {
  margin: 20px auto;
}
.wrapper img {
  margin: 10px auto;
}

.head-title {
  background: url(../images/bg_title.png) repeat-x 0 0;
  text-align: center;
  padding: 20px 0;
  font-size: 1.6em;
}

/*--------------------------------------------------
*リキッドレイアウト用*
-------------------------------------------------*/
.wrapper div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1%;
  position: relative;
  height: 500px;
}

.primary {
  background: #FFF;
}

.left-box, .right-box {
  width: 25%;
  background: #f4b3c2;
  text-shadow: -1px 1px rgba(255, 255, 255, 0.7);
}

.left-box {
  float: left;
}

.primary, .right-box {
  float: right;
}

.right-box {
  left: 50%;
}

/*--------- 3カラム用 ---------*/
.float-3column .primary {
  width: 50%;
  left: -25%;
}

/*--------- 2カラム用 ---------*/
.float-2column .primary {
  width: 75%;
}
