@charset "utf-8";

/*crossFader*/
.crossfader{
	position:relative;
	height:430px;
}

.crossfader img{
	position:absolute;
	top:0;
	left:0;
	z-index:8;
	opacity:0;
	cursor:pointer;
}

.crossfader .active{
	z-index:10;
	opacity:1.0;
}

.crossfader .last-active{
	z-index:9;
}
